<div class="column is-2 is-desktop"></div>
<div class="column">
  <br>
  <a class="level-item button is-large is-primary js-modal-trigger p-5" data-target="new-blog-modal">Create New Blogpost</a>
    {{#each blogs as |blog|}}
      <br>
      <div class="card">
        <header class="card-header has-background-info">
          <p class="card-header-title has-text-white">
            {{blog.subject}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <pre 
              style=
                "white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;"
            >{{blog.body}}</pre>
            <a href="#">{{blog.user.email}}</a>.</a>
            <br>
            <time datetime='{{blog.date_created}}'>{{timeFormat blog.date_created}} - {{dateFormat blog.date_created}}</time>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item js-modal-trigger" data-target='{{blog.id}}'>Edit</a>
          <a href="#" class="card-footer-item delete-blog" data-target='{{blog.id}}'>Delete</a>
        </footer>
      </div>

      <div class="modal" id='{{blog.id}}'>
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head has-background-info-dark">
            <textarea
              class="textarea modal-card-title has-fixed-size subject-edit"
              placeholder="Blog Subject"
              rows="1"
              data-target='{{blog.subject}}'
            >{{blog.subject}}</textarea>
          </header>
          <section class="modal-card-body">
            <textarea
              class="textarea has-fixed-size body-edit"
              placeholder="Blog Body"
              rows="8"
              data-target='{{blog.body}}'
            >{{blog.body}}</textarea>
            <a href="#">{{blog.user.email}}</a>.</a>
            <br>
            <time datetime={{dateTimeFormat blog.date_created}}>{{timeFormat blog.date_created}} - {{dateFormat blog.date_created}}</time>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success save-edit" data-target='{{blog.id}}'>Save changes</button>
            <button class="button cancel-edit" data-target='{{blog.id}}'>Cancel</button>
          </footer>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="modal" id='new-blog-modal'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-info-dark">
      <textarea
        id='subject'
        class="textarea modal-card-title has-fixed-size"
        placeholder="Blog Subject"
        rows="1"
        ></textarea>
        <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <textarea id='body' class="textarea has-fixed-size" placeholder="Blog Body" rows="8"></textarea>
      <p>via <a href="#">{{user.email}}</a></p>
    </section>
    <footer class="modal-card-foot">
      <button id="save" class="button is-success" data-target='{{user.id}}'>Save changes</button>
      <button id="cancel" class="button">Cancel</button>
    </footer>
  </div>
</div>
<div class="column is-2 is-desktop"></div>

<script src="/js/dashboard.js"></script>