<div class="column is-half is-desktop"></div>
<div class="column is-half">
  <div id='uid_{{user.id}}' class="me"></div>
    {{#each blogs as |blog|}}
      <br>
      <div class="card js-modal-trigger" data-target='{{blog.id}}'> 
        <header class="card-header has-background-info">
          <p class="card-header-title has-text-white">
            {{blog.subject}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <pre 
              style=
                "white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;"
            >{{blog.body}}</pre>
            <a href="#">{{blog.user.email}}</a></a>
            <br>
            <p>via <span class="has-text-grey">{{blog.user.name}} </span> @ <time datetime='{{blog.date_created}}'>{{timeFormat blog.date_created}} - {{dateFormat blog.date_created}}</time></p>
          </div>
        </div>
      </div>

      <div class="modal" style="
        @media screen and (max-width:769px) {
          .modal-card,
          .modal-content {
                margin: 0 auto;
                width: 96%;
                position: fixed;
                left: 50%;
                right: 50%;
          }
        }"
      id='{{blog.id}}'>
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head has-background-info-dark">
            <p class="modal-card-title has-text-white">{{blog.subject}}</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <div class="modal-card-body is-block">
            <pre>{{blog.body}}</pre>
            <a href="#">{{blog.user.email}}</a>
            <br>
            <p>via <span class="has-text-grey">{{blog.user.name}} </span> @ <time datetime='{{blog.date_created}}'>{{timeFormat blog.date_created}} - {{dateFormat blog.date_created}}</time></p>
            {{#isEmpty blog.comments}}
              <br>
              <div class="card"> 
                <header class="card-header has-background-info">
                  <p class="card-header-title has-text-white">No Comments</p>
                </header>
              </div>
            {{else}}
              {{#each blog.comments as |comment|}}
                <br>
                <div class="card"> 
                  <header class="card-header has-background-info">
                    <p class="card-header-title has-text-white">{{comment.user.name}}</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      <pre 
                        style=
                          "white-space: pre-wrap;
                          white-space: -moz-pre-wrap;
                          white-space: -pre-wrap;
                          white-space: -o-pre-wrap;
                          word-wrap: break-word;"
                      >{{comment.message}}</pre>
                      <a href="#">{{comment.user.email}}</a></a>
                      <br>
                      <time datetime='{{comment.date_created}}'>{{timeFormat comment.date_created}} - {{dateFormat comment.date_created}}</time></p>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{/isEmpty}}
          </div>
          {{#if ../logged_in}}
          <footer class="modal-card-foot is-inline-block">
            <textarea
              class="textarea has-fixed-size comment-add"
              placeholder="Enter your comment here"
              rows="4"
            ></textarea>
            <br>
            <button class="button submit-comment is-primary">Submit Comment</button>
          </footer>
          {{/if}}
        </div>
      </div>
    {{/each}}
</div>

<script src="./js/homepage.js"></script>