{{#each blogs as |blog| }}
  <div class="card">
    <div class="card-header">
      <p>{{blog.user.name}}</p>
      <p>{{blog.user.email}}</p>
    </div>
    <div class="card-content">
      <h2>{{blog.subject}}</h2>
      <p>{{blog.body}}</p>
      <p>{{dateFormat blog.date_created}}</p>
    </div>
  </div>
{{/each}}