{{#each notes as |note| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!--h2>{{{get_emoji}}} {{user.name}}</h2-->
    <h2>{{note.subject}}</h2>
  </div>
  <div class="col-md-6">
    <p>{{note.body}}</p>
    <p>{{note.date_created}}</p>
  </div>
</div>
{{/each}}
